.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin: auto;
}

h1{
    text-align: center;
}

.container div{
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    align-items: center;
    height: 200px;
    justify-content: center;
    display: flex;
}

.negro{
    background-color: black;
}

.rojo{
    background-color: red;
}
.container div img{
    width: 20%;
}
.a1{
    grid-column: 1/2;
}

.a2{
    grid-column: 2/3;
}

.a3{
    grid-column: 3/4;
}

.bordeVerde{
    border: 1px solid green;
}

.bordeRojo{
    border: 1px solid red;
}

.blancoNegro{
    background-color: white;
    color: black;
}

.negroBlanco{
    background-color: black;
    color: white;
}
.grisRojo{
    background-color: gray;
    color: red;
}

