body {
    margin: auto;
    background:rgba(241, 239, 239, 0.645);
}

#container {
    display: grid;
    width: 85%;
    /* Grid de 2x3 */
    /* 2 columnas: 1ª de 200px, 2ª ocupa el espacio restante */
    grid-template-columns: 1fr  1fr;
    /*Espaciado*/
    column-gap: 20px;
    row-gap: 5px;
    /*gap: 10px 20px*/ /*se pueden sustituir por esta linea */
    margin:20px;
}

header { 	
    grid-column: 1/3;
    color: white; 
    background-color: #0D47A1; 
    padding: 5px; 
}

nav{
    grid-column: 1/3;
    padding: 5px;
}

article{
    background-color: #BBDEFB; 
    padding: 5px;
}

.a1 { 	
    grid-row: 3/5; 
}

article .articulo2 { 	
    grid-row:  3/4;   
}

article .articulo3{
    grid-row: 4/5;
}

footer { 
    grid-column: 1/3;
    background-color: #2196F3; 
    padding: 5px;
    color: white;
}

nav ul li{
    text-decoration: none;
    display: inline;
    padding-left: 10px;
}

/* Web responsive */
/*Cuando el tamaño de pantalla sea menor de 400px (o como máximo 400px) le quitamos
la propiedad display: grid a la clase container que lo engloba todo, por display: block.*/
@media (max-width: 600px) {
    .container {
    display: block;}
}
