
*{
    margin: 0px;
    padding: 0px;
}
.encabezado{
    background-color: blue;
    height: 250px;
    text-align: center;
    align-items: center;
    margin-bottom: 5%;
    justify-content: center;
}

.encabezadoPeque{
    width: 70%;
    margin: auto;
}

h1{
    color: white;
    font-size: 50px;
    padding: 40px;

}

.divInput{
    margin: auto;
    text-align: center;
    border: dotted 1px black;
    width: 15%;
    padding: 10px;
}

.divResultado{
    margin-left: 30px;
}

.divResultado h3{
    display: inline;
}

.definicion{
    margin-left: 30px;
}

.green{
    color: green;
}

.rojo{
    color: red;
}