body{
    margin: auto;
}
.menu{
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: darkgray;
    width: 100%;    
    padding: 5px;
    margin-bottom: -5px;
}

.fomrulario{
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 100%;    
    padding: 5px;
}

nav{
    width: 100%;    
    background-color: darkgray;
    color: white;
    margin-top: -12px;
    margin-right: -30px;
    text-align: right;
}

nav ul{
    list-style: none;
    padding: 10px;
}

nav ul li{
    display: inline;
}

.enlaceMenu{
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin-left: 20px;
}

.enlaceMenu:hover{
    text-decoration: underline;
    font-weight: bold;
}

.form1{
    background-color: grey;
    width: 50%;
    color: white;
    font-weight: bold;
    margin: 0px auto;
    padding: 5px;
}
.form1 fieldset{
    padding: 20px;
    margin: 10px;
}
.form1 .rellenar, .rellenar2{
    margin: 15px 0;
    clear: both;
}
.form1 .rellenar .labels{
    display: inline;
    clear: none;
    width: 25%;
    float: left;
}

.form1 .rellenar2{
    margin-right: 15px;
}

.form1 .rellenar input{
    border: solid 1px red;
}

.form1 .contenedor{
    display: block;
    clear: both;
    margin: 15px auto 0 auto;
    width: 140%;
}

.form1 .contenedor .enLinea{
    margin-top: 15px;
    margin-left: auto;
    margin-right: 20px;
    border: dotted 1px black;
    text-align: center;
}

.input1{
    margin-right: 10px;
}

.form1 .contenedor .enLinea{
    display: inline;
    clear: none;
    width: 30%;
    float: left;
    padding: 3px;
}

.form1 .contenedor .enviar{
    float: left;
    margin-top: -40px;
    margin-left: 20%;

}

.form1 .contenedor .borrar{
    float: right;
    margin-top: -40px;
    margin-right: 20%;
}

.form1 .botones{
    display: block;
}

.form1 .botones input{
    background-color: black;
    margin: auto;
    width: 30%;
    padding: 3px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    padding: 10px;
}


