h1{
    color: red;
    text-align: center;
}

.buscador{
    margin: auto;
    text-align: center;
    border: dotted 1px black;
    width: 15%;
    padding: 10px;
}

table{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    border: solid 1px black;
    border-collapse: collapse;
    width: 50%;
}

td,th{
    border: solid 1px black;
    padding: 10px;
}